<div class='cv-wrapper'>
  <div class='actions'>
    <button (click)="save()">Save</button>
  </div>
  <div class='page'>
    <div class='header'>
      <img src='/assets/images/logo.png'/>
      <div>Curriculum Vitae</div>
    </div>
    <div class='content-wrapper'>
      <div class='date' *ngIf="resumeData.updatedOn">Last modified on: {{formatResumeDate(resumeData.updatedOn)}}</div>
      <form [formGroup]="resumeForm">
        <table class='content'>
          <tbody>
            <tr>
              <td class='bullet'>EMPLOYEE ID:</td>
              <td class='bullet-val'>{{resumeData.empId}}</td>
            </tr>
            <tr>
              <td class='bullet'>NAME:</td>
              <td class='bullet-val'><input type='text' formControlName="name" /></td>
            </tr>
            <tr>
              <td class='bullet'>EMAIL ID:</td>
              <td class='bullet-val'><input type='text' formControlName="email"/></td>
            </tr>
            <tr>
              <td class='bullet'>TOTAL EXPERIENCE:</td>
              <td class='bullet-val'><input type='text' formControlName="texp"/> Years</td>
            </tr>
            <tr>
              <td class='bullet'>TECHNICAL SKILLS:</td>
              <td class='bullet-val'><textarea formControlName="skills"></textarea></td>
            </tr>
            <tr>
              <td class='bullet'>LANGUAGES:</td>
              <td class='bullet-val'><input type='text' formControlName="lang"/></td>
            </tr>
            <tr>
              <td class='bullet'>OPERATING SYSTEMS:</td>
              <td class='bullet-val'><input type='text' formControlName="os" /></td>
            </tr>
            <tr>
              <td class='bullet'>DATABASES:</td>
              <td class='bullet-val'><input type='text' formControlName="dbs"/></td>
            </tr>
            <tr>
              <td class='bullet'>COMPONENTS/TOOLS:</td>
              <td class='bullet-val'><textarea formControlName="tools"></textarea></td>
            </tr>
          </tbody>
        </table>

        <div class='bullet section'>EXPERIENCE DETAILS:</div>
        <div class="work-details-footer"><span class="action btn" (click)=addworkDetail()>Add Work Experience</span></div>
        <div formArrayName="workDetails">
          <div class="work-details-wrapper" *ngFor="let wd of workDetails.controls; let i=index" [formGroupName]="i">
            <div class="work-details-actions">
              <span class="action delete" (click)=deleteWorkDetail(i) title="Delete">X</span>
              <span class="action up" (click)="moveWorkDetail(i, 'up')" title="Move Up"></span>
              <span class="action down" (click)="moveWorkDetail(i, 'down')" title="Move Down"></span>
            </div>
            <table class='exp-details' >
              <tbody>
                <tr>
                  <td class='bullet'>Company:</td>
                  <td class='bullet-val'><input type='text' formControlName="cn"/></td>
                </tr>
                <tr>
                  <td class='bullet'>Project:</td>
                  <td class='bullet-val'><input type='text' formControlName="pn" /></td>
                </tr>
                <tr>
                  <td class='bullet'>Technology/Tools used:</td>
                  <td class='bullet-val'><textarea formControlName="tu"></textarea></td>
                </tr>
                <tr>
                  <td class='bullet'>Duration:</td>
                  <td class='bullet-val'><input type='text' formControlName="dur" /> Years</td>
                </tr>
                <tr>
                  <td class='bullet'>Role/Designation:</td>
                  <td class='bullet-val'><input type='text' formControlName="role" /></td>
                </tr>
                <tr>
                  <td class='bullet'>Brief Profile:</td>
                  <td class='bullet-val'><textarea formControlName="bp"></textarea></td>
                </tr>
                <tr>
                  <td class='bullet'>Responsibility:</td>
                  <td class='bullet-val'><textarea  formControlName="rsp"></textarea></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class='bullet section'>EDUCATIONAL QUALIFICATION:</div>
        <div class="edu-details-footer"><span class="action btn" (click)=addEduDetail()>Add Educational Details</span></div>

        <table class='edu-details'>
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Course</th>
              <th>Institute</th>
              <th>Year of Passing</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody formArrayName="eduDetails" >
            <tr *ngFor="let ed of eduDetails.controls; let i = index;" [formGroupName]="i">
              <td>{{1+i}}</td>
              <td><input type='text' formControlName="cn"/></td>
              <td><input type='text' formControlName="in"/></td>
              <td><input class="yp-input" type='text' formControlName="yp"/></td>
              <td>
                <span class="action delete" (click)=deleteEduDetail(i) title="Delete">X</span>
                <span class="action up" (click)="moveEduDetail(i, 'up')" title="Move Up"></span>
                <span class="action down" (click)="moveEduDetail(i, 'down')" title="Move Down"></span>
              </td>
            </tr>
          </tbody>
        </table>

        <table class='content section'>
          <tbody>
            <tr>
              <td class='bullet'>HOBBIES:</td>
              <td class='bullet-val'><input type='text' formControlName="hobbies"/></td>
            </tr>
          </tbody>
        </table>

      </form>
    </div>

  </div>
</div>
