<div class='cv-wrapper'>
  <div class='actions'>
    <button (click)="save()">Save</button>
  </div>
  <div class='page'>
    <div class='header'>
      <img src='/assets/images/logo.png'/>
      <div>Curriculum Vitae</div>
    </div>
    <div class='content-wrapper'>
      <div class='date'>Date: {{updatedOnDate}}</div>

      <table class='content'>
        <tbody>
          <tr>
            <td class='bullet'>EMPLOYEE ID:</td>
            <td class='bullet-val'><input type='text' /></td>
          </tr>
          <tr>
            <td class='bullet'>NAME:</td>
            <td class='bullet-val'><input type='text' /></td>
          </tr>
          <tr>
            <td class='bullet'>EMAIL ID:</td>
            <td class='bullet-val'><input type='text' /></td>
          </tr>
          <tr>
            <td class='bullet'>TOTAL EXPERIENCE:</td>
            <td class='bullet-val'><input type='text' /> Years</td>
          </tr>
          <tr>
            <td class='bullet'>TECHNICAL SKILLS:</td>
            <td class='bullet-val'><input type='text' /></td>
          </tr>
          <tr>
            <td class='bullet'>LANGUAGES:</td>
            <td class='bullet-val'><input type='text' /></td>
          </tr>
          <tr>
            <td class='bullet'>OPERATING SYSTEMS:</td>
            <td class='bullet-val'><input type='text' /></td>
          </tr>
          <tr>
            <td class='bullet'>DATABASES:</td>
            <td class='bullet-val'><input type='text' /></td>
          </tr>
          <tr>
            <td class='bullet'>COMPONENTS/TOOLS:</td>
            <td class='bullet-val'><textarea></textarea></td>
          </tr>
        </tbody>
      </table>

      <div class='bullet section'>EXPERIENCE DETAILS:</div>
      <table class='exp-details'>
        <tbody>
          <tr>
            <td class='bullet'>Company:</td>
            <td class='bullet-val'><input type='text' /></td>
          </tr>
          <tr>
            <td class='bullet'>Project:</td>
            <td class='bullet-val'><input type='text' /></td>
          </tr>
          <tr>
            <td class='bullet'>Technology/Tools used:</td>
            <td class='bullet-val'><input type='text' /></td>
          </tr>
          <tr>
            <td class='bullet'>Duration:</td>
            <td class='bullet-val'><input type='text' /> years</td>
          </tr>
          <tr>
            <td class='bullet'>Role/Designation:</td>
            <td class='bullet-val'><input type='text' /></td>
          </tr>
          <tr>
            <td class='bullet'>Brief Profile:</td>
            <td class='bullet-val'><textarea></textarea></td>
          </tr>
          <tr>
            <td class='bullet'>Responsibility:</td>
            <td class='bullet-val'><textarea></textarea></td>
          </tr>
        </tbody>
      </table>



      <div class='bullet section'>EDUCATIONAL QUALIFICATION:</div>
      <table class='edu-details'>
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Course</th>
            <th>Institute</th>
            <th>Year of Passing</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody >
          <tr *ngFor="let ed of eduDetails; let i = index;">
            <td>{{1+i}}</td>
            <td><input type='text' value='{{ed.cn}}'/></td>
            <td><input type='text' value='{{ed.in}}' /></td>
            <td><input class="yp-input" type='text' value='{{ed.yp}}' /></td>
            <td><span class="action" (click)=deleteEduDetail(i)>Delete</span></td>
          </tr>
        </tbody>
      </table>
      <div class="edu-details-footer"><span class="action" (click)=addEduDetail()>Add</span></div>

      <table class='content section'>
        <tbody>
          <tr>
            <td class='bullet'>HOBBIES:</td>
            <td class='bullet-val'><input type='text' /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
