<div class='error-msg' *ngIf="!resumeData">
  Resume data is not available, Please click <a routerLink="/update">here</a> to enter your details.
</div>

<div class='cv-wrapper' *ngIf="resumeData">
  <div class='actions'>
    <a routerLink="/update/{{empId}}">Update</a>
    <button (click)="download()">Download</button>
  </div>
  <div class='page'>
    <div class='header'>
      <img src='/assets/images/logo.png'/>
      <div>Curriculum Vitae</div>
    </div>
    <div class='content-wrapper'>
      <div class='date'>Date: {{formatResumeDate(resumeData.updatedOn)}}</div>

      <table class='content'>
        <tbody>
          <tr>
            <td class='bullet'>EMPLOYEE ID:</td>
            <td class='bullet-val'>{{resumeData.empId}}</td>
          </tr>
          <tr>
            <td class='bullet'>NAME:</td>
            <td class='bullet-val'>{{resumeData.name}}</td>
          </tr>
          <tr>
            <td class='bullet'>EMAIL ID:</td>
            <td class='bullet-val'>{{resumeData.email}}</td>
          </tr>
          <tr>
            <td class='bullet'>TOTAL EXPERIENCE:</td>
            <td class='bullet-val'>{{resumeData.texp}} Years</td>
          </tr>
          <tr>
            <td class='bullet'>TECHNICAL SKILLS:</td>
            <td class='bullet-val'>{{resumeData.skills}}</td>
          </tr>
          <tr>
            <td class='bullet'>LANGUAGES:</td>
            <td class='bullet-val'>{{resumeData.lang}}</td>
          </tr>
          <tr>
            <td class='bullet'>OPERATING SYSTEMS:</td>
            <td class='bullet-val'>{{resumeData.os}}</td>
          </tr>
          <tr>
            <td class='bullet'>DATABASES:</td>
            <td class='bullet-val'>{{resumeData.dbs}}</td>
          </tr>
          <tr>
            <td class='bullet'>COMPONENTS/TOOLS:</td>
            <td class='bullet-val'>{{resumeData.tools}}</td>
          </tr>
        </tbody>
      </table>

      <div class='bullet section'>EXPERIENCE DETAILS:</div>
      <table class='exp-details' *ngFor="let wd of resumeData.workDetails;">
        <tbody>
          <tr>
            <td class='bullet'>Company:</td>
            <td class='bullet-val'>{{wd.cn}}</td>
          </tr>
          <tr>
            <td class='bullet'>Project:</td>
            <td class='bullet-val'>{{wd.pn}}</td>
          </tr>
          <tr>
            <td class='bullet'>Technology/Tools used:</td>
            <td class='bullet-val'>{{wd.tu}}</td>
          </tr>
          <tr>
            <td class='bullet'>Duration:</td>
            <td class='bullet-val'>{{wd.dur}} Years</td>
          </tr>
          <tr>
            <td class='bullet'>Role/Designation:</td>
            <td class='bullet-val'>{{wd.role}}</td>
          </tr>
          <tr>
            <td class='bullet'>Brief Profile:</td>
            <td class='bullet-val'>{{wd.bp}}</td>
          </tr>
          <tr>
            <td class='bullet'>Responsibility:</td>
            <td class='bullet-val'>{{wd.rsp}}</td>
          </tr>
        </tbody>
      </table>

      <div class='bullet section'>EDUCATIONAL QUALIFICATION:</div>
      <table class='edu-details'>
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Course</th>
            <th>Institute</th>
            <th>Year of Passing</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let ed of resumeData.eduDetails; let i=index;">
            <td>{{i+1}}</td>
            <td>{{ed.cn}}</td>
            <td>{{ed.in}}</td>
            <td>{{ed.yp}}</td>
          </tr>
        </tbody>
      </table>

      <table class='content section'>
        <tbody>
          <tr>
            <td class='bullet'>HOBBIES:</td>
            <td class='bullet-val'>{{resumeData.hobbies}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
