/* Reset all default CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* APP CSS */
body {
  background-color: #EEEEEE;
}

.cv-wrapper,
.error-msg {
    background-color: #FFFFFF;
    width: 816px;
    min-height: 1056px;
    position: relative;
    white-space: normal;
    border: 0;
    margin: 30px auto;
    box-shadow: 0 0 0 1px #D1D1D1, 0 0 8px 3px #CCCCCC;
}

.error-msg {
  min-height: 10px;
	text-align: center;
	padding: 30px;
}

.page {
  padding: 20px 100px 50px 100px;
}

.header{
  text-align: center;
  font-size: 35px;
  padding-bottom: 30px;
}

.date{
  text-align: right;
  font-weight: bold;
}
td{
 vertical-align: top;
}
.content td{
  padding: 5px 10px 5px 0;
}

.bullet {
  font-weight: bold;
}

.exp-details, .edu-details {
  margin-top: 25px;
}

.exp-details td {
  padding: 2px;
}

.content,
.edu-details,
.exp-details {
  width: 100%;
}

td.bullet {
  width: 180px;
}

td.bullet-val {
  width: calc(100% - 180px);
}
.section {
  margin-top: 40px;
}

.edu-details th {
  text-align: left;
}

.edu-details {
  border-collapse: collapse;
}

.edu-details th, .edu-details td {
  border: 1px solid #AAAAAA;
  padding: 5px;
}

.actions {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.actions button,
.actions a {
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  background-color: rgb(0, 97, 213);
  border-color: rgb(0, 97, 213);
  color: #fff;
  padding: 10px 16px;
  text-align: center;
  cursor: pointer;
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
  text-decoration: none;
}


/* Resume Edit Form */
input, textarea {
  border-width: 0 0 1px 0;
  border-color: #CCC;
  font-family: "Times New Roman, Arial";
  font-size: 14px;
}

.bullet-val input,
.bullet-val textarea {
  width: calc(100% - 50px);
}

.edu-details-footer,
.work-details-footer {
  text-align: right;
  margin-top: 5px;
}

.yp-input {
  width: 80px;
}

span.action {
  font-family: Arial;
  cursor:pointer;
  color: rgb(0, 97, 213);
  font-size: 12px;
  font-weight: bold;
  border: 1px solid rgb(0, 97, 213);
  border-radius: 4px;
  padding: 4px 4px 3px 4px;
  line-height: 12px;
  width: 12px;
  text-align: center;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  height: 12px;
}

td .action {
  float: left;
}

span.btn {
  width: auto;
  padding: 5px;
}

.action.up:after,
.action.down:after{
  content: "";
  position: absolute;
  width: 0;
	height: 0;
  left: 4px;
  top: 4px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid rgb(0, 97, 213);
}

.action.down:after{
  border-bottom: 0;
	border-top: 10px solid rgb(0, 97, 213);
  top: 5px;
}

.action.delete {
  font-weight: 900;
}

.work-details-wrapper {
  margin-top: 20px;
  position: relative;
  border: 1px solid #EEE;
  padding: 10px;
}

.work-details-actions {
  top: 0;
  width: 40px;
  float: right;
  background: #FAFAFA;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 5px;
}

app-resume-form .exp-details {
  width: calc(100% - 50px);
  margin: 0;
}

.work-details-actions span {
  margin: 5px;
}
