body {
  background-color: #EEEEEE;
}


.cv-wrapper {
    background-color: #FFFFFF;
    width: 816px;
    min-height: 1056px;
    position: relative;
    white-space: normal;
    border: 0;
    margin: 30px auto;
    box-shadow: 0 0 0 1px #D1D1D1, 0 0 8px 3px #CCCCCC;
}

.page {
  padding: 20px 100px 50px 100px;
}

.header{
  text-align: center;
  font-size: 35px;
  padding-bottom: 30px;
}

.date{
  text-align: right;
  font-weight: bold;
}
td{
 vertical-align: top;
}
.content td{
  padding: 5px 10px 5px 0;
}

.bullet {
  font-weight: bold;
}

.exp-details, .edu-details {
  margin-top: 20px;
}

.exp-details td {
  padding: 2px;
}

.content,
.edu-details,
.exp-details {
  width: 100%;
}

td.bullet {
  width: 180px;
}

td.bullet-val {
  width: calc(100% - 180px);
}
.section {
  margin-top: 40px;
}

.edu-details th {
  text-align: left;
}

.edu-details {
  border-collapse: collapse;
}

.edu-details th, .edu-details td {
  border: 1px solid #AAAAAA;
  padding: 2px 5px;
}

.actions {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.actions button,
.actions a {
  border: 1px solid #bdc3c7;
  border-radius: 2px;
  background-color: rgb(0, 97, 213);
  border-color: rgb(0, 97, 213);
  color: #fff;
  padding: 10px 16px;
  text-align: center;
  cursor: pointer;
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
  text-decoration: none;
}


/* Resume Edit Form */
input, textarea {
  border-width: 0 0 1px 0;
  border-color: #CCC;
}

.bullet-val input,
.bullet-val textarea {
  width: calc(100% - 50px);
}

.edu-details-footer,
.work-details-footer {
  text-align: right;
  margin-top: 5px;
}

.yp-input {
  width: 80px;
}

span.action{
  font-family: Arial;
  cursor:pointer;
  color: rgb(0, 97, 213);
  font-size: 12px;
  font-weight: bold;
}
